.dashboard-title{
  color:#C11E1E;
  font-weight:200;
  font-size: 36px;
  padding-right: 160px;
}

.dashboard-card {
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

