.dashboard-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  margin-bottom: 20px;
  padding: 16px 22px;
  // min
}
.dashboard-title-hosted{
  color: #C11E1E;
}
.dashboard-card-container, .dashboard-card-container-hosted {
  .empty-notice {
    width: 350px;
    padding: 5px;
    color: black;
  }
}
.dashboard-card-container-hosted{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 8px 22px;
  margin-bottom: 75px;
}
.dashboard-headerone {
  padding-top: 10px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  align-items: center;
}
.dashboard-title {
  color: #C11E1E;
  font-weight: 300;
  margin-right: 135px;
  font-size: 36px;
  padding-bottom: 23px;
}

.dashboard-title-joined{
  color:#004129;
}
.both-dash-cards{
  background-color: rgba(0, 65, 41, 0.9);
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 12px;
  color: white;
  text-decoration: none;
}

.dashboard-btns{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-grow: 1;
}

.dashboard-joined-card,
.dashboard-hosted-card {
  border-radius: 8px;
  width: 350px;
  p{
    margin: 10px;
  }
}
.dashboard-hosted-card {
  padding: 12px;
  margin-bottom: 20px;
  background-color: rgba(194, 31, 31, 0.9);
  color: white;
  a{
    text-decoration: none;
  }
}

.gap {
  height: 20px;
  width: 100%;
}

.cbc-green {
  color: #C11E1E;
  background-color: white;
}

.imagetag-dashboard{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.dashboard-card-size, .dashboard-card-location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.cardlink-db{
  text-decoration: none;
}
