.index-background-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-headerone{
  font-size: 50px;
  font-weight: bold;
  font-family:'Kanit', sans-serif;
  align-items: center;
}

.index-headertwo{
  font-size: 25px;
  font-weight: 700px;
  font-family:'Kanit', sans-serif;
  padding-left: 10px;
}
.indexcards{
  color:black;
  background-color: rgba(255, 255, 255, 0.85);
  width: 400px;
  border-radius: 20px;
}
