.index-background-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-headerone{
  font-size: 50px;
  font-weight: bold;
  font-family:'Kanit', sans-serif;
  align-items: center;
}

.index-headertwo{
  font-size: 25px;
  font-weight: 700px;
  padding-left: 16px;
}
.indexcards{
  color:#fff;
  font-weight:600;
  width: 385px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px 12px ;
}


.game-card {
  background-color: rgba(0, 65, 41, 0.9);
  padding: 10px;
  height:160px ;
  margin-bottom: 25px;
  border-radius: 10px;
}

.next{
  text-decoration: none;
  background-color: white;
  color:black;
  width: 10px;
  border-radius: 10px;
}

.selectbtn{
  text-decoration: none;
  background-color: white;
  color: rgba(0, 65, 41, 0.9);
  padding: 5px;
  border-radius: 3px;

}
