.index-background-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.host-icon{
  padding-right: 11px;
}
.index-headerone{
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
  font-family:'Kanit', sans-serif;
  align-items: center;
}

.index-headertwo{
  padding: 15px;
  font-size: 25px;
  font-weight: 500px;
}
.indexcards{
  color:#fff;
  font-weight:600;
  width: 400px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 4px ;
}




.nav-button-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 25px;
}

.next, .prev{
  i {
    color: rgb(194, 31, 31);
  }
}



.selectbtn{
  text-decoration: none;
  background-color: white;
  color: rgba(0, 65, 41, 0.9);
  color: rgb(194, 31, 31);
  padding: 5px;
  border-radius: 3px;

}

.search-bar{
  width: 385px;
  border-radius: 15px;
  height: 50px;
}
.type-loc, .search-btn{
  color:rgb(194, 31, 31);
  border: none;
  background-color: rgba(255, 255, 255, 0.85);
}
.type-loc{
  border-radius: 15px 0px 0px 15px;
}
.search-btn{
  border-radius: 0px 15px 15px 0px;
}

.game-card {
  background-color: rgba(0, 65, 41, 0.9);
  padding: 10px;
  height:160px ;
  margin-bottom: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .top > div, .bottom, .host, .size, .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top {
    .date-level {
      h5 {
        font-size: 18px;
        opacity: .7;
      }
    }
    .size, .date {
      justify-content: flex-end;
      column-gap: 8px;
      min-width: 110px;
    }
  }
  .bottom {
    h5 {
      font-size: 17px;
    }
    .imagetag-index{
      height: 35px;
      width: 35px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
    h5.price-text{
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }
  }
}

// .title{
//   h5 {
//     font-size: 18px;
//     &.small {
//       font-size: 18px;
//     }
//   }
// }

// .game-card-date, .game-card-host, .game-card-size,.game-card-level{
//   font-size: 18px;
//   margin-bottom: 5px;
// }

// .game-card-title, .game-card-date, .game-card-host, .game-card-size{
//   padding-top: 5px;
//   padding-top: 5px;
// }

.game-card-host {
  margin-top: 20px;
}

.text-end-game-price{
  flex-direction: column;
  justify-content: space-between;
}

.game-card-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
