.ftpage{

  .player-box {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    p {
      font-size: 15px;
      &.small {
        font-size: 12px;
      }
    }
  }

  .banner1, .banner2 {
  background-color: rgb(191, 31, 31);
  color: white;
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-radius: 40px;
  width: 100%; /* Full width */
  text-align: center;

  }

  .imagetag{
    height: 40px;
    width: 40px;
  }

  .nameformashon{
    padding: 0px;
  }

  .nameformation {
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 65, 41);
  }

  .lineups{
    padding: 10px;
  }

  .container {
    display: flex;
    justify-content:space-between;
  }

  .team1, .team2 {
    width: 150px;
    justify-content: center;
  }


  .dashboard-headerone{
    gap: 10px;
    font-size: 60px ;
    color: rgb(0, 65, 41);
  }
}
