.ftpage{
  padding: 0px 20px;
  margin-top: 40px;
  .container {
    padding: 5px;
  }
  .player-box, .player-box-empty {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #D9D9D9;
    p {
      font-size: 18px;
      &.small {
        font-size: 18px;
      }
    }
  }
  .player-box-empty{
    opacity: 0.5;
  }


  .banner {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px 5px;
  text-align: center;
  h1 {
    margin: 0;
    font-weight: 400;
  }
  p{
    margin-bottom: 0px;
  }
  }

  .imagetag {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .nameformation{
    padding: 0px;
  }

  .nameformation, .nameposition {
    margin: 0 5px;
    font-size: 15px;
    color: rgb(0, 65, 41);
    white-space: nowrap;
  }

  .lineups {
    padding: 10px;
    border-radius: 5px;
    min-height: 200px;
  }

  .team1, .team2 {
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
  }

  .team1 {
    .banner {
      background-color: #c11e1e;
      border-radius: 5px;
    }
  }

  .team2 {
    .banner {
      background-color: rgb(0, 65, 41);
      border-radius: 5px;
    }
  }


  .dashboard-headerone{
    gap: 10px;
    font-size: 60px ;
    color: rgb(0, 65, 41);
  }
}
