<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="" style="height: 75px;"></div>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to games_path, class: "navbar-brand" do %>
      <i class="fa fa-fw fa-home"></i>
    <% end %>

    <%= link_to new_game_path, class: "navbar-brand" do %>
      <i class="fa fa-fw fa-plus"></i>
    <% end %>

    <%= link_to dashboard_path, class: "navbar-brand" do %>
      <i class="fa fa-fw fa-futbol"></i>
    <% end %>

    <%= link_to profile_path, class: "navbar-brand" do %>
      <i class="fa fa-fw fa-user"></i>
    <% end %>
</div>
