<div class="homepage">
  <div class="home-title">
    <h1 class= "headerone" > FOOTYHUB </h1>
  </div>

  <div class="home-paragraph">
    <p class="home-p">Your Match, Your way</p>
  </div>
</div>

<div class="home-buttons">
    <button type="button">Log In</button>
    <button type="button">Sign Up</button>
</div>
