// Define custom font stack
.navbar {
  padding: 0;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  font-family: 'Kanit', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  border-top: 1px solid #C11E1E;
}


.navbar a{
  float: left;
  text-align: center;
  padding: 12px;
  color: #C11E1E;
  text-decoration: none;
  font-size: 30px;
  margin-bottom: 2%;
}
